main {
  padding: 50px 0;
}
.title {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(0, 166, 255);
  font-size: 40px;
}
.title h1 i {
  background-color: rgb(0, 166, 255);
  padding: 20px;
  border-radius: 50%;
  color: white;
}
.container {
  margin: auto;
  width: 60%;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgb(0, 166, 255);
  padding: 12px;
}
.addEl {
  display: flex;
  gap: 15px;
}
.addEl input {
  width: 80%;
  padding: 5px;
  height: 30px;
  border-color: rgb(0, 166, 255);
  outline: none;
  color: rgb(0, 166, 255);
  font-weight: 600;
  border-radius: 10px;
}
.addEl button {
  width: 18%;
  background-color: rgb(0, 166, 255);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.alerts p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.elements {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
.elements .element {
  padding: 5px;
  border-radius: 10px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 166, 255);
  margin: 5px;
}
.element p {
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 5px;
  font-size: 18px;
  outline: none;
}
.element button {
  width: 5%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}
i {
  color: rgb(69, 131, 110);
}

@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 40px;
  }
  .container {
    width: 90%;
  }
  .element {
    width: 96% !important;
    margin-left: 0px !important;
  }
  .element p {
    width: 70%;
  }
  .element button {
    width: 15%;
  }
}
